.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
2022/week_01/gk_cpd.R
2022/week_01/data/Ming_Routes_2016/Ming_Routes_2016.dbf
2022/week_01/data/Ming_Routes_2016/Ming_Routes_2016.prj
2022/week_01/data/Ming_Routes_2016/Ming_Routes_2016.qpj
2022/week_01/data/Ming_Routes_2016/Ming_Routes_2016.shp
2022/week_01/data/Ming_Routes_2016/Ming_Routes_2016.shx
2022/week_01/data/Ming_Routes_2016/Ming_Stations_2016.cpg
2022/week_01/data/Ming_Stations_2016/Ming_Stations_2016.dbf
2022/week_01/data/Ming_Stations_2016/Ming_Stations_2016.prj
2022/week_01/data/Ming_Stations_2016/Ming_Stations_2016.qpj
2022/week_01/data/Ming_Stations_2016/Ming_Stations_2016.shp
2022/week_01/data/Ming_Stations_2016/Ming_Stations_2016.shx
2022/week_01/data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.cpg
2022/week_01/data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.dbf
2022/week_01/data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.prj
2022/week_01/data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.README.html
2022/week_01/data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.shp
2022/week_01/data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.shx
2022/week_01/data/ne_10m_admin_0_countries/ne_10m_admin_0_countries.VERSION.txt
2022/week_01/data/README_MING_COURIER_2016.txt
2022/week_02/data/us_states_hexgrid/us_states_hexgrid.cpg
2022/week_02/data/us_states_hexgrid/us_states_hexgrid.dbf
2022/week_02/data/us_states_hexgrid/us_states_hexgrid.prj
2022/week_02/data/us_states_hexgrid/us_states_hexgrid.shp
2022/week_02/data/us_states_hexgrid/us_states_hexgrid.shx
